<div class="mb-4 d-flex justify-content-between align-items-center">
    <h3 class="text-dark mb-0">{{ title }}</h3>
    <a class="btn btn-primary btn-sm" role="button" href="{{ linkPath }}">
        <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Ajouter
    </a>


{#    <button class="btn btn-primary" type="button" data-bs-target="#modal-1" data-bs-toggle="modal">Modal</button>#}
</div>