<!-- Modal commun pour tous les edits -->
<div id="modal-edit" class="modal fade modal-lg" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Le contenu du formulaire sera chargé ici -->
        </div>
    </div>
</div>