<div id="modal-1" class="modal fade modal-lg" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% set template_path = edit_route ~ '/_modal_edit.html.twig' %}
            {% include template_path %}
        </div>
    </div>
</div>