{#<a href="{{ path('app_service_show', {'id': service.id}) }}" style="text-decoration: none;">#}
{#    🗂️#}
{#</a>#}
{#<a href="{{ path('app_service_edit', {'id': service.id}) }}" style="text-decoration: none;">#}
{#    📝#}
{#</a>#}

<a href="#" class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i></a>
<a href="#" class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i></a>
<a href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>