<form method="post" action="{{ path('app_sous_traitent_delete', {'id': sous_traitent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_traitent.id) }}">
    <button class="btn">Delete</button>
</form>
