{% extends 'base.html.twig' %}

{% block title %}New SousTraitent{% endblock %}

{% block body %}
    <h1>Create new SousTraitent</h1>

    {{ include('sous_traitent/_form.html.twig') }}

    <a href="{{ path('app_sous_traitent_index') }}">back to list</a>
{% endblock %}
